version=$(ls ~/Library/ApplicationSupport/iTerm2 | perl -lne 'print $& if /(?<=iterm2env-)\d+\.\d+\.\d+/' | sort | tail -n1 | tr -d '\n')
ver=$(echo -n $version | perl -pe 's/\.\d+$//')
iterm2_lib=$HOME/Library/ApplicationSupport/iTerm2/iterm2env-$version/versions/$version/lib/python$ver/site-packages
path_add PYTHONPATH $iterm2_lib
path_add MYPYPATH $iterm2_lib
